
.search_field{
  width: 40rem;
}
table{
  width: 100%;
}
.pointer{
  cursor: pointer;
}
.pr_12{
  padding-right: 12px;
}

.body-text{
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: clip;
}